
html {
  cursor: default;
}

html, body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

@media only screen and (max-width:480px) {
  html {
    width: 100vw;
    overflow: hidden;
  }
}

/* Twinkle Animations > Twinkle 1 */

@keyframes twinkle_one {
  0%, 30%, 100% {
    opacity: 1;
  }
  
  70% {
    opacity: 0;
  }
}


/* // Twinkle Animations > Twinkle 2 */

@keyframes twinkle_two {
  0%, 100% {
    opacity: 1;
  }
  
  25%, 80% {
    opacity: 0;
  }
}


/* // Twinkle Animations > Twinkle 3 */

@keyframes twinkle_three {
  0%, 100% {
    opacity: 1;
  }
  
  30%, 40% {
    opacity: 0;
  }
}

.galaxy{
    z-index: 0;
    position: absolute;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    background: linear-gradient(-45deg, #0f0a22, #130229, #040f3f);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}      

.star{
  position: absolute;
  background-color: white;
}

.star-type1{
  width: 1px;
  height: 1px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 1px 1px white;
  box-shadow: 0 0 1px 1px white;
  animation: twinkle_one 3s ease-in-out infinite;
  -moz-animation: twinkle_one 3s ease-in-out infinite;
  -o-animation: twinkle_one 3s ease-in-out infinite;
  animation: twinkle_one 3s ease-in-out infinite;
}
  
.star-type2{
  width: 2px;
  height: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 2px 1px white;
  box-shadow: 0 0 2px 1px white;
  -webkit-animation: twinkle_two 12s ease-in-out infinite;
  -moz-animation: twinkle_two 12s ease-in-out infinite;
  -o-animation: twinkle_two 12s ease-in-out infinite;
  animation: twinkle_two 12s ease-in-out infinite;
}
.star-type3{
  width: 2px;
  height: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 2px 0 white;
  box-shadow: 0 0 2px 0 white;
  -webkit-animation: twinkle_three 7s ease-in-out infinite;
  -moz-animation: twinkle_three 7s ease-in-out infinite;
  -o-animation: twinkle_three 7s ease-in-out infinite;
  animation: twinkle_three 7s ease-in-out infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}