.container {
    color: #fff;
    text-align: center;
    font-size: 2em;
    font-family: 'Press Start 2P';
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

/* Header */

#header {
    cursor: default;
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: middle;
    margin: 2em auto;
}

#header h1 {
    font-size: 1.5em;
    font-weight: 900;
    line-height: 1em;
}

#header p {
    font-size: .5em;
    margin: 2em;
    opacity: 0.75;
}

#header nav li {
    display: inline-block;
    height: 5.35em;
    line-height: 5.885em;
    position: relative;
    top: 0;
    width: 5.35em;
}

#header nav, #header nav ul {
    padding: 0;
}

#header nav a {
    border: 0;
    color: #fff;
    display: inline-block;
}

#header .label {
    display: none;
}