@media only screen and (max-width:480px) {
    .container {
        display: table !important;
    }
    .description {
        flex-direction: column;
    }
    #main .description .column.avatar {
        width: 5em !important;
    }
    #main .description .column {
        width: auto !important;
    }
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  .clearfix { display: inline-block; }
  /* start commented backslash hack \*/
  * html .clearfix { height: 1%; }
  .clearfix { display: block; }
  /* close commented backslash hack */

.container {
    color: #fff;
    text-align: center;
    font-size: 2em;
    font-family: 'Press Start 2P';
    /* height: 100vh; */
    /* display: table;
    clear: both; */
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

/* Header */

#header {
    cursor: default;
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: middle;
    margin: 2em 2em 0em 2em;
}

#header h1 {
    font-size: 1.2em;
    font-weight: 900;
}

#header p {
    font-size: .5em;
    margin: 1em;
    opacity: 0.75;
}

#header span {
    font-size: 3em;
}

#header nav li {
    display: inline-block;
    height: 5em;
    line-height: 5.885em;
    position: relative;
    top: 0;
    width: 5em;
}

#header nav li:hover {
    opacity: 0.75;
}

#header nav, #header nav ul {
    padding: 0;
}

#header nav a {
    border: 0;
    color: #fff;
    display: inline-block;
}

#header .label {
    display: none;
}

#main {
    margin-top: 2.5em;
}

#main::after {
    display: table;
    clear: both;
    content: "";
}

#main .topic {
    margin-top: 2.5em;
}

#main .topic a {
    margin-right: 20px;
}

#main .keywords {
    margin-top: 50px;
}

#main .keywords .skill {
    display: inline-flex;
    font-size: .4em;
}
#main p {
    font-size: .5em;
    margin: 1em;
    opacity: 0.75;
}

#main p span {
    font-size: 3em;
}

#main h1, h2 {
    font-size: .8em;
}

#main h2 {
    font-size: .8em;
}

#main h3 {
    font-size: .6em;
}

#main .avatar {
    vertical-align: middle;
    width: 1em !important;
    border-radius: 50%;
}

#main .description {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2.5em;
}

#main .description .column {
    flex-grow: 1;
    width: 5em;
    align-self: center;
}